body {
  background-color: #002171;
  color: white;
}
div {
  padding: 10px 10px;
}
span, input {
  font-size: 1.3em;
  margin: 5px 5px;
}
button {
  background: #9a0007;
  border-radius: 28px;
  font-family: Georgia;
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin: 5px 5px;
  text-decoration: none;
}
button:hover {
  background: #d32f2f;
  text-decoration: none;
}
button:focus {
  ouline: 0;
}
.container {
  background-color: #0d47a1;
  max-width: 600px;
  height: 300px;
}
#resultBox div {
  width: 200px;
  float: left;
}
#answerBox {
  background-color: #5472d3;
  height: 40px;
  display: none;
}
#answer {
  font-size: 2.0em;
  color: white;
  width: 100px;
}
#inputBox {
  background-color: #5472d3;
  height: 40px
}
#numberEntry {
  display: inline-block;
  font-size: 2.0em;
}
#resultBox {
  max-width: 600px;
  background-color: #0d47a1;
  color: white;
}
#reset-btn{
  float: right;
}
#numbersBox {
  max-width: 300px;
  float: left;
}
#numbersBox button {
  font-size: 1.8em;
}
#operators {
  max-width: 200px;
  float: left;
}
