body {
  background-color: #002171;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/34/US_flag_96_stars.svg");
  background-size: 1235px 600px;
  background-repeat: no-repeat;
  color: white;
  font-family: sans-serif;
}
h1{
  background-color: rgba(0, 33, 113, 0.7);
  max-width: 600px;
  padding: 5px 5px;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
div {
  padding: 5px 5px;
}
span, input {
  font-size: 1.3em;
  margin: 5px 5px;
}
button {
  background: #9a0007;
  border-radius: 28px;
  font-family: sans-serif;
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  margin: 5px 5px;
  text-decoration: none;
}
button:hover {
  background: #d32f2f;
  text-decoration: none;
}
button:focus {
  outline: 0;
}
.container {
  background-color: #0d47a1;
  max-width: 600px;
  height: 300px;
}
#resultBox div {
  width: 200px;
  float: left;
}
#answerBox {
  background-color: #5472d3;
  height: 40px;
  display: none;
}
#answer {
  font-size: 2.0em;
  color: white;
  width: 100px;
}
#inputBox {
  background-color: #5472d3;
  height: 40px;
  margin-left: 5px;
  margin-top: 5px;
}
#numberEntry {
  display: inline-block;
  font-size: 2.0em;
}
#resultBox {
  max-width: 600px;
  background-color: #0d47a1;
  color: white;
}
#reset-btn{
  float: right;
}
#numbersBox {
  max-width: 300px;
  float: left;
}
#numbersBox button {
  font-size: 1.8em;
}
#operators {
  max-width: 200px;
  float: left;
}
